<div class="page-header text-center">
  <h1>Malcolm Tucker Magic 8-ball</h1>
</div>
<div class="page-body text-center">
  <%= link_to "I'm feeling lucky, you over easy piss-bag!", hit_me_quotes_path, class: "btn btn-info btn-lg" %>
</div>
