<div class="page-header text-center">
  <h1><%= @quote.text %></h1>
  <%= tweet_button url: quote_url(@quote.token), text: "And speaking of rabies injections... #TuckerMe", via: nil %>
</div>
<div class="page-body text-center">
</div>

<div class="page-footer text-center">
  <%= link_to "Get me another one, and no pissy biscuits!", hit_me_quotes_path, class: "btn btn-info btn-lg" %>
</div>

