<div class="page-header text-center">
  <h1>Malcolm Tucker Magic 8-ball</h1>
</div>
<div class="page-body text-center">
  <a href="/hit-me" class="btn btn-info btn-lg">
    I'm feeling lucky, you over easy piss-bag!
  </a>
</div>
