<div class="page-header text-center">
  <h1><%= quote.text %></h1>
</div>
<div class="page-body text-center">
</div>

<div class="page-footer text-center">
  <a href="/hit-me" class="btn btn-info btn-lg">
    Get me another one, and no pissy biscuits!
  </a>
</div>

